.Cart{
    width: 960px;
    min-height: 407px;
    background: white;
    z-index: 10;
    border-radius: 10px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
   
}

.Cart-body{
    padding-top: 70px;
    padding-bottom: 100px;
    overflow: hidden;
}

.Cart-sum{
    font-size: 18px;
    width: 200px;
    justify-content: space-around;
    display: flex;
    font-weight: 700;
    padding-left: 670px;
    padding-top: 20px;
}

.Cart-empty{
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}

.Head{
    border-radius: 10px;
}

.Item{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.Item-price{
    color: #404040;
}

.Item-quantity{
    color: #404040;
}

